<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Software Engineer</mat-card-title>
                <img class="image" mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="image">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            {{my_Info["name"]|uppercase}}<br>
            {{my_Info["email"]|uppercase}}<br>
            {{my_Info["phone"]|uppercase}}<br>
        </mat-card-content>
    </mat-card>
</div>