<body>
   
    <div class="container">
        <div class="icons">
            <a href="https://www.linkedin.com/in/saurav-ranjan-31481a207/"><i class='bx bxl-linkedin bx-tada' ></i></a>
            <a href="#"><i class='bx bxl-facebook-circle bx-tada bx-flip-horizontal' ></i></a>
        </div>
       
        <section class="main-body">
            <h1>Hi, I am Saurav Ranjan</h1>
            <h3>Full Stack Developer</h3>
            <p>Passionate and goal-oriented software developer with 1 yearof 
                experience in MEAN stack technologies. Applying for 
                a mean stack developer position to take the next step in my career.
            </p>
        </section>
        
        <img class="profile-pic" align="left" src="../../../assets/self.jpg" />
        
        

    </div>
    <div class="container-2">
        
    </div>
    <hr style="color: black;">
</body>