<div class="container">
  <span *ngIf="errorMessage">{{ errorMessage }}</span>
  <p>LOGIN FORM</p>
  <form [formGroup]="loginForm" (ngSubmit)="Login(loginForm.value)">
    <label for="Email">Email:</label>
    <input
      type="text"
      name="Email"
      formControlName="email"
      placeholder="enter your email"
    />
    <span *ngIf="loginForm.get('email')?.invalid">enter valid mail</span>
    <br />
    <label for="Password">Password:</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="enter your password"
      id="Password"
    />
    <br />
    <label for="showPassword">Show Password</label>
    <input type="checkbox" (click)="clickerr()" id="checkbox" />
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
